@import "tailwindcss";




:root {
   /* Brand Colors */
   --primary: #2563EB;
   --primary-dark: #1D4ED8;
   --secondary: #06B6D4;
   --accent: #7C3AED;
 
   /* Background */
   --background: #505f6f70;
   --surface: #FFFFFF;
 
   /* Text */
   --text: #0F172A;
   --text-light: #64748B;
 
   /* UI */
   --border: #E2E8F0;
   --success: #10B981;
   --warning: #F59E0B;
   --danger: #EF4444;
 
   /* Shadows */
   --shadow: 0 8px 30px rgba(15, 23, 42, 0.08);
 }

 